@import "./../../styles/variables";

.static {
  display: flex;
  padding-top: 50px;
  &-aside {
    width: 300px;
    flex-shrink: 0;
    &__title {
      font-size: 20px;
      font-weight: 700;
      color: $mainC;
    }
  }
  &-content {
    h1 {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 700;
    }
    p:not(:last-child) {
      margin-bottom: 10px;
    }
    .bold {
      font-weight: 700;
    }
    .underline {
      text-decoration: underline;
    }
    a {
      color: $mainC;
      &:hover {
        text-decoration: underline;
      }
      &:visited {
        color: #9a46e8;
      }
    }
    ul {
      list-style-position: inside;
    }
    li {
      list-style-type: disc;
    }
    .organizations {
      display: flex;
      justify-content: space-between;
      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% / 6);
        margin: 20px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        &__img {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 90px;
        }
        &__name {
          text-align: center;
          font-size: 14px;
        }
      }
    }
  }
}
