@import "./../../styles/variables";

.static {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  &-aside {
    width: 300px;
    flex-shrink: 0;
    &__title {
      font-size: 20px;
      font-weight: 700;
      color: $mainC;
    }
  }
  &-content {
    h1 {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 700;
    }
    p:not(:last-child) {
      margin-bottom: 10px;
    }
    .underline {
      text-decoration: underline;
    }
    .bold{
      font-weight: bold;
    }
    a {
      color: $mainC;
      &:hover {
        text-decoration: underline;
      }
    }
    ul {
      margin-bottom: 20px;
      list-style-position: inside;
    }
    li {
      list-style-type: disc;
    }
  }
}
