.entity-card {
  width: 100%;
  .el-card {
    margin: 20px 0;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.19);
    &__header {
      padding: 14px 16px;
      border: none;
      background-color: #f7f7f7;
      & > div {
        display: flex;
        justify-content: space-between;
        @media (max-width: 420px) {
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
    &__body {
      padding: 18px 16px 22px;
    }
  }
  .entity {
    &-status {
      display: flex;
      align-items: center;
      &__ico {
        flex-shrink: 0;
        display: inline-block;
        position: relative;
        width: 18px;
        height: 18px;
        margin-right: 12px;
        border-radius: 50%;
        &_auction {
          background-color: #ff7900;
        }
        &_qualification {
          background-color: #2daae2;
        }
        &_enquiries {
          background-color: #97ca63;
        }
        &_tendering {
          background-color: #235aa6;
        }
        &_cancelled {
          background-color: #d1d1d1;
          &:before,
          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 15px;
            height: 2px;
            background-color: #9e9e9e;
          }
          &:before {
            transform: translate(-50%, -50%) rotate(45deg);
          }
          &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
        &_active {
          background-color: #d1d1d1;
        }
        &_awarded {
          background-color: #97ca63;
          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 9px;
            height: 9px;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background-color: #2daae2;
          }
        }
        &_complete {
          background-color: #d1d1d1;
          &:before,
          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            width: 8px;
            height: 2px;
            background-color: #9e9e9e;
          }
          &:before {
            left: 40%;
            transform: translate(-50%, -50%) rotate(45deg);
          }
          &:after {
            left: 60%;
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
        &_unsuccessful {
          background-color: #d1d1d1;
          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 15px;
            height: 2px;
            background-color: #9e9e9e;
          }
          &:before {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
        &_stub {
          background-color: #d1d1d1;
        }
      }
      &__text {
        font-size: 12px;
        font-weight: 700;
        &_stub {
          width: 120px;
          height: 20px;
          background-color: #d1d1d1;
        }
      }
    }
    &-update {
      display: flex;
      align-items: center;
      margin-left: 10px;
      text-align: right;
      font-size: 12px;
      color: #838383;
      &__date {
        margin-left: 5px;
        font-weight: 700;
        color: initial;
        &_stub {
          width: 80px;
          height: 20px;
          margin-left: 5px;
          background-color: #d1d1d1;
        }
      }
    }
    &-title[data-link] {
      box-shadow: 0 2px 0 #235aa6;
      transition: 0.4s;
      &:hover {
        box-shadow: 0 2px 0 transparent;
      }
    }
    &-title {
      margin-bottom: 26px;
      line-height: 1.4;
      font-size: 24px;
      color: #235aa6;
      &_stub {
        width: 280px;
        height: 28px;
        margin-bottom: 20px;
        background-color: #d1d1d1;
      }
    }
    &-description {
      margin-bottom: 26px;
      line-height: 1.4;
      @media (max-width: 768px) {
        margin-bottom: 20px;
      }
      &_stub {
        width: 100%;
        height: 16px;
        margin-bottom: 26px;
        background-color: #d1d1d1;
      }
    }
    &-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 880px) {
        flex-wrap: wrap;
        justify-content: center;
      }
      @media (max-width: 880px) {
        flex-wrap: nowrap;
      }
      @media (max-width: 460px) {
        flex-wrap: wrap;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        margin: 0 25px;
        text-align: center;
        &:first-child,
        &:last-child {
          margin: 0;
        }
        @media (max-width: 880px) {
          margin: 25px 0;
        }
        @media (max-width: 880px) {
          margin: 0 25px;
        }
        @media (max-width: 460px) {
          margin: 25px 0;
        }
      }
      img {
        @media (max-width: 460px) {
          height: 50px;
        }
      }
      &_stub {
        a {
          position: relative;
          &:before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 100;
            background-color: rgb(209, 209, 209);
          }
        }
      }
    }
    &-amount {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      &__text {
        margin-bottom: 6px;
        font-size: 11px;
        color: #787878;
        &_stub {
          width: 180px;
          height: 14px;
          margin-bottom: 20px;
          background-color: #d1d1d1;
        }
      }
      &__number {
        display: flex;
        justify-content: flex-end;
        align-items: self-start;
        font-weight: 600;
        .whole {
          font-size: 40px;
          &_stub {
            width: 180px;
            height: 40px;
            background-color: #d1d1d1;
          }
        }
      }
      @media (max-width: 768px) {
        margin-bottom: 20px;
        align-items: center;
      }
    }
    &-id,
    &-type,
    &-period-planning,
    &-region,
    &-buyer-id,
    &-pe-name,
    &-classifications,
    &-budget-id {
      margin-bottom: 8px;
      .title {
        margin-bottom: 3px;
        font-size: 11px;
        color: #787878;
      }
      .text {
        line-height: 1.5;
        font-size: 12px;
        color: #000;
        &__status {
          &:first-letter {
            text-transform: capitalize;
          }
        }
      }
      @media (max-width: 768px) {
        text-align: center;
      }
    }
    &-info {
      &_stub {
        margin-bottom: 8px;
        .title {
          width: 80px;
          height: 13px;
          margin-bottom: 5px;
          background-color: #d1d1d1;
        }
        .text {
          width: 120px;
          height: 13px;
          background-color: #d1d1d1;
        }
      }
    }
  }
  .el-row--flex {
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
  .el-col-sm-14 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #d2d2d2;
  }
  .el-col-sm-6 {
    flex-shrink: 0;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
  }
  .el-col-sm-4 {
    flex-shrink: 0;
    min-width: 180px;
    border-left: 1px solid #d2d2d2;
  }
  .el-col-sm-14,
  .el-col-sm-4 {
    @media (max-width: 768px) {
      border: none;
    }
  }
}
