@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background-color: #fff;
  color: #323232;
}
