@import "variables";

#app {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

.el-container {
  width: 100%;
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  & > .el-row {
    flex-grow: 1;
  }
}

.el-main {
  overflow: inherit;
  padding: 0;
}

.el-input__inner {
  min-height: 52px;
  padding: 8px 10px;
  border-radius: 3px;
  font-size: 18px;
}

.el-time-panel {
  width: 140px;
}

.el-checkbox-button__inner {
  height: 52px;
  border-radius: 3px;
  line-height: 26px;
  font-size: 18px;
}

.text-center {
  text-align: center;
}

.el-dropdown-menu {
  .flag-wp {
    margin: 10px 0;
  }
}

.el-button--text,
.el-date-table td.available:hover,
.el-date-table td.today span {
  color: $mainC;
}

.el-date-table td.end-date span,
.el-date-table td.start-date span {
  background-color: $mainC;
}

.el-date-editor .el-range-separator {
  width: 10%;
}

.info {
  .el-collapse {
    margin-bottom: 20px;
    .accordion-header {
      width: 100%;
      line-height: 1;
    }
    &-item {
      padding: 0 18px;
      background-color: #f3f3f3;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
      &__wrap {
        background: transparent;
        border-bottom: none;
      }
      &__header {
        height: auto;
        background: transparent;
        border-bottom: none;
        .info-block__value__bold {
          font-weight: 700;
        }
      }
      &__arrow {
        display: none;
      }
      &__content {
        padding-bottom: 0;
      }
    }
  }
}

.entity-tabs {
  .el-tabs {
    &__nav-wrap {
      margin-top: -81px;
      &:after {
        display: none;
      }
      .is-active{
        background-color: #fff;
        color: #235aa6;
      }
    }
    &__item {
      height: auto;
      padding: 24px 14px 19px;
      white-space: normal;
      text-align: left;
      line-height: 1;
      font-size: 19px;
      color: #2da9e2;
      user-select: none;
    }
    &__active-bar {
      display: none;
    }
    .is-top {
      &:last-child {
        padding-right: 14px;
      }
      &:nth-child(2){
        padding-left: 14px;
      }
    }
    &__content{
      overflow: inherit;
    }
  }
}

.el-tabs__item.is-disabled {
  color: #abaaaa;
  pointer-events: none;
}
