@import "variables";

#app {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

.el-container {
  width: 100%;
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  & > .el-row {
    flex-grow: 1;
  }
}

.el-main {
  overflow: inherit;
  padding: 0;
}

.el-input__inner {
  min-height: 52px;
  padding: 8px 10px;
  border-radius: 3px;
  font-size: 18px;
}

.el-time-panel {
  width: 140px;
}

.el-checkbox-button__inner {
  height: 52px;
  border-radius: 3px;
  line-height: 26px;
  font-size: 18px;
}

.text-center {
  text-align: center;
}

.el-dropdown-menu {
  .flag-wp {
    margin: 10px 0;
  }
}

.el-button--text,
.el-date-table td.available:hover,
.el-date-table td.today span {
  color: $mainC;
}

.el-date-table td.end-date span,
.el-date-table td.start-date span {
  background-color: $mainC;
}

.el-date-editor .el-range-separator {
  width: 10%;
}

.el-collapse {
  .info-blocks {
    padding: 0 10px;
  }
  &-item {
    background: #f3f3f3;
    &__header {
      height: auto;
      background: transparent;
      .info-block__value {
        font-weight: 700;
      }
    }
    &__wrap {
      background: transparent;
    }
  }
}
