@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');
@import "variables";


body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background-color: #efefef;
  color: #323232;
}

#app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}

.el-container {
  width: 100%;
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  & > .el-row {
    flex-grow: 1;
  }
}

.el-main {
  overflow: inherit;
  padding: 0;
}

.el-input__inner {
  min-height: 52px;
  padding: 8px 10px;
  border-radius: 3px;
  font-size: 18px;
}

.el-time-panel {
  width: 140px;
}

.el-checkbox-button__inner {
  height: 52px;
  border-radius: 3px;
  line-height: 26px;
  font-size: 18px;
}

.text-center {
  text-align: center;
}

.el-dropdown-menu {
  .flag-wp {
    margin: 10px 0;
  }
}

.el-button--text,
.el-date-table td.available:hover,
.el-date-table td.today span {
  color: $mainC;
}

.el-date-table td.end-date span,
.el-date-table td.start-date span {
  background-color: $mainC;
}

.el-date-editor .el-range-separator {
  width: 10%;
}
