@import "variables";

#app {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

.fade-enter-active,
.fade-leave-active { transition: opacity 0.2s ease;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

.el-container {
  width: 100%;
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  & > .el-row {
    flex-grow: 1;
  }
}

.el-main {
  overflow: inherit;
  padding: 0;
}

.el-input__inner {
  min-height: $fieldHeight;
  padding: 8px 10px;
  border-radius: 3px;
  font-size: $fieldFontSize - 2px;
}

.multiple_input {
  .el-input__inner {
    cursor: text !important;
  }
}

.el-select-dropdown {
  margin-top: -1px !important;
  margin-bottom: -1px !important;
  background-color: #efefef;
  border-left: none;
  border-right: none;
  border-radius: 0 0 4px 4px;
  &__item {
    height: 52px;
    line-height: 52px;
    border-bottom: 1px solid #d2d2d2;
    transition: 0.1s;
    &.selected {
      padding-right: 35px;
    }
    &.hover {
      background-color: #d9d9d9;
    }
  }
  .popper__arrow {
    display: none !important;
    &:after {
      content: none !important;
    }
  }
}

.el-time-panel {
  width: 140px;
}

.el-checkbox-button__inner {
  height: $fieldHeight;
  padding: 12px 16px;
  border-radius: 3px;
  line-height: 1;
  font-size: $fieldFontSize;
}

.text-center {
  text-align: center;
}

.el-dropdown-menu {
  .flag-wp {
    margin: 10px 0;
  }
}

.el-button--text,
.el-date-table td.available:hover,
.el-date-table td.today span {
  color: $mainC;
}

.el-date-table td.end-date span,
.el-date-table td.start-date span {
  background-color: $mainC;
}

.el-date-editor .el-range-separator {
  width: 16px;
}
