@import "./../../styles/variables";

.search-form {
  position: relative;
  padding: 20px;
  border-radius: 0 0 3px 3px;
  background-color: $mainC;
  &-wp {
    height: 100%;
    position: relative;
    margin-bottom: $fieldHeight;
    &:hover {
      .search-form__btn_more {
        color: #fff;
        bottom: -$fieldHeight;
      }
    }
  }
  @media (max-width: 580px) {
    padding: 16px;
  }
  .main-search {
    display: flex;
    flex-grow: 1;
    position: relative;
    z-index: 10;
    @media (max-width: 580px) {
      flex-wrap: wrap;
    }
    .el-input__inner {
      border-radius: 0;
    }
  }
  &__group {
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
    &-title {
      margin-bottom: 8px;
      font-size: 18px;
      color: #fff;
    }
  }
  &__btn {
    display: inline-block;
    transition: 0.4s;
    &_strict {
      @media (max-width: 580px) {
        width: 100%;
      }
      .el-checkbox-button__inner {
        border-right: none;
        border-color: #dcdfe6 !important;
        border-radius: 3px 0 0 3px !important;
        background-color: transparent !important;
        color: #fff !important;
        @media (max-width: 580px) {
          width: 100%;
          border-right: 1px solid #fff;
          border-bottom: none;
          border-radius: 4px 4px 0 0 !important;
        }
      }
      &.is-checked {
        .el-checkbox-button__inner {
          background-color: #fff !important;
          color: $mainC !important;
        }
      }
      &.is-disabled {
        .el-checkbox-button__inner {
          background-color: #d2d2d2 !important;
          color: #868686 !important;
        }
      }
    }
    &_search {
      height: $fieldHeight;
      border-left: none;
      border-radius: 0 3px 3px 0;
      background-color: #ff7900 !important;
      font-size: 16px;
      &:hover {
        background-color: #fb9d47 !important;
      }
      &:active {
        box-shadow: inset 0 0 3px 1px #666;
      }
      @media (max-width: 580px) {
        width: 100%;
        border-top: none;
        border-radius: 0 0 4px 4px !important;
      }
      .el-icon-back {
        margin-left: 5px;
        transform: rotate(180deg);
      }
    }
    &_reset {
      &-wp {
        margin-top: 16px;
        text-align: right;
        @media (max-width: 767px) {
          text-align: center;
        }
      }
      padding: 12px 16px;
      border-radius: 3px;
      font-size: $fieldFontSize;
      color: #fff !important;
    }
    &_more {
      z-index: 9;
      height: $fieldHeight;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      padding: 12px 20px;
      border-radius: 0 0 3px 3px;
      background-color: $mainC;
      white-space: nowrap;
      line-height: 1;
      font-size: 16px;
      color: transparent;
      transition: 0.4s;
      &:hover {
        background-color: lighten($mainC, 10%);
      }
      @media (max-width: 767px) {
        bottom: -$fieldHeight;
      }
    }
  }
  &__label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
  }
  &-more {
    padding-top: 25px;
  }
  &-element {
    & + & {
      margin-top: 20px;
      @media (max-width: 768px) {
        margin-top: 15px;
      }
    }
    label {
      @media (max-width: 768px) {
        margin-top: 10px;
        margin-bottom: 6px;
      }
    }
  }
  .el-input {
    &-number {
      width: 100%;
      &__decrease,
      &__increase {
        line-height: 25px;
      }
    }
    &__inner {
      width: 100%;
      border-color: #dcdfe6;
    }
    &__icon {
      font-size: 25px;
    }
  }
  .el-select {
    width: 100%;
    &-dropdown {
      max-width: 100%;
    }
    .el-input {
      &.is-focus {
        .el-input {
          &__inner {
            border-radius: 3px 3px 0 0;
            border-color: #fff;
          }
        }
      }
    }
    &__caret {
      font-size: 20px !important;
    }
  }
  .el-range {
    &-input {
      font-size: $fieldFontSize - 2px;
    }
    &-separator {
      font-size: $fieldFontSize - 2px;
    }
    &__close-icon {
      font-size: 25px !important;
    }
  }
  .el-tag {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    white-space: normal;
    &__close {
      flex-shrink: 0;
    }
  }
}

[data-classifications] {
  .el-input__inner {
    cursor: text !important;
  }
}
